html,
body
{
    height: 100%;
    background-color: #DAA642;
    font-family: Poppins;
}

header{
  height: 80%;
}

#intro {
    background:linear-gradient(rgba(206, 197, 79, 0.452), rgba(212, 202, 61, 0.452)), url("../Images/businessman-with-light-bulb-his-hand 1.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
}

#curriculum {
  background:linear-gradient(rgba(206, 197, 79, 0.452), rgba(212, 202, 61, 0.452)), url("../Images/group-kids-friends-arm-around-sitting-together\ 1.png")no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border-radius: 2%;
}

#login{
  
      background:linear-gradient(rgba(206, 197, 79, 0.452), rgba(212, 202, 61, 0.452)), url("../Images/book-with-green-board-background\ 1.jpg")no-repeat center center fixed;
      
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.btn-dark:focus, .btn-dark:active:focus, .btn:focus {
 
  box-shadow: none;
}


.navbar-dark .navbar-nav .nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
  
}

.navbar-brand{
  font-weight: 700;
}

.text-white{
  color: white;

}
.text-black{
  color: black;
}
.heading-text{
  font-weight: 600;
  padding: 5%;
  font-size: 2rem;
}

.subheading-text{
  font-weight: 600;
  padding: 2.5%;
}

.logo-text{
  font-weight: 800;

}


.full-width{
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

#page-intro {
  background-color: wheat;
  border-radius: 10% 0 10% 0;
  height: 70%;

}


ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: transparent;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: #F6BE51;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: black;
  text-decoration: none;
  font-weight: 700;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #FFFFFF;
  text-decoration: underline;
}

.disabled-text{
  color: gray;
}




/* .card-std{
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 14px 14px 14px 14px;
    cursor:default;
}

.card-std:hover{
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(200,0,0,.12), 0 4px 8px rgba(200,0,0,.06);
} */

.subject-card{
opacity: 0.3;
border-radius: 2%;
}

.row {
  --bs-gutter-x: 0;
}
.card-img-overlay {
  position: absolute;
  top: 59%;
  right: 6%;
  bottom: 7%;
  left: 7%;
  padding: 1rem;
  box-shadow: black;
  background: rgba(251, 251, 251, 0.2);
  backdrop-filter: blur(36px);
  border-radius: 24px;
}
.teacher-text{
  position: absolute;
    padding: 6%;
    color: black;
}
.nav-tabs{
  border: none;
}

.tab-content>.active {
  display: block;
  background-color: wheat;
}

.login-form{
  background: #F7BE51;
border-radius: 64px;
width: auto;
}

#player-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
  background-color: #000;
  z-index: 999;
}

video {
  display: block;
  width: 100%;
  height: 100%;
}
